.div_option_commit {
    display: none;
    width: 500px;
    background: white;
    border-radius: 5px;
    justify-content: center;
}

@keyframes abrir {
    0% {
        width: 0px;
        opacity: 0%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        width: 500px;
        opacity: 100%;
    }
}

@keyframes fechar {
    0% {
        width: 500px;
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        width: 0px;
        opacity: 0%;
    }
}

.buttonInfoCommit {
    height: 30px;
    width: 60px;
    align-self: center;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
}

.buttonInfoCommit:hover {
    animation-name: anim;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.confirm {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.conteudo {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}

@keyframes anim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}