.div_option_commit {
    display: none;
    width: 500px;
    background: white;
    border-radius: 5px;
    justify-content: center;
}

.buttonInfoCommit {
    height: 30px;
    width: 60px;
    align-self: center;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
}

.buttonInfoCommit:hover {
    animation-name: anim;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.confirm {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.conteudo {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}

@keyframes anim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}


/*                                   CLASS BOTÃO OPÇÃO DO POST                          */

.Publi_opc {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.bt_opcPost {
    display: flex;
    padding: 0%;
    margin: 0%;
    width: 32px;
    height: 32px;
    background: rgba(0, 0, 0, 0.0);
    border: none;
    outline: none;
    cursor: pointer;
    align-self: center;
    margin-right: 15px;
}

.bt_opcPost img {
    width: 32px;
    height: 32px;
}

.opcPost {
    display: none;
    background: aliceblue;
    justify-content: center;
    width: 50%;
    border-radius: 5px;
}

.center {
    display: flex;
    align-self: center;
    justify-self: center;
}


/*                                   ANIMAÇÕES                          */

@keyframes abrir {
    0% {
        width: 0px;
        opacity: 0%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        width: 500px;
        opacity: 100%;
    }
}

@keyframes fechar {
    0% {
        width: 500px;
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        width: 0px;
        opacity: 0%;
    }
}

@keyframes abrirPostOps {
    0% {
        width: 0%;
        opacity: 0%;
    }
    50% {
        width: 50%;
        opacity: 150%;
    }
}

@keyframes fecharPostOps {
    0% {
        width: 50%;
        opacity: 100%;
    }
    100% {
        width: 0%;
        opacity: 0%;
    }
}

.BtPostDown {
    height: 100%;
}

.bt_postConfig {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: rgb(76, 0, 255);
    margin-left: 10px;
    height: 40px;
    width: 175px;
    text-align: center;
    color: aliceblue;
    cursor: pointer;
}

.bt_postConfig label {
    font-size: 20px;
    margin-left: 10px;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
}

.img_postConfig {
    width: 30px;
    align-self: center;
}

.custom-file-upload {
    display: flex;
    position: relative;
    background: rgb(76, 0, 255);
    border-radius: 5px;
    height: 40px;
    width: 175px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Ajuste conforme necessário para espaçamento desejado */
}

.label-text {
    margin-left: 10px;
    font-size: 20px;
}

.imgPubli_ {
    display: inline-block;
    background-color: rgb(76, 0, 255);
    width: 100%;
    color: #fff;
    height: 30px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.imgPubli_:hover {
    background-color: #2980b9;
}