body {
    background-image: url('/IMG/wallapeper.jpg');
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
}

.userInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgba(255, 255, 0, 0.226);
    border-radius: 19px;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.26);
    transition: all .3s ease-in;
}

.userInfo label {
    color: aliceblue;
    margin-left: 15px;
    font-size: 25px;
}


/* UP SIDE INFORM */

.up {
    display: flex;
    align-items: center;
}

.info {
    min-width: 300px;
    width: 100%;
    display: flex;
    align-items: center;
}

.opt {
    display: flex;
    justify-content: center;
    margin-right: 25px;
}

.opt button {
    color: aliceblue;
    justify-content: center;
    margin: 5px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 1px rgb(0, 102, 255);
    border: none;
    background: rgb(0, 102, 255);
    cursor: pointer;
}


/* DOWN SIDE INFORM */

.mid {
    display: flex;
    align-items: center;
}

.mid p {
    color: aliceblue;
    white-space: pre-line;
    border-radius: 19px;
    margin: 10px;
    padding: 10px;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.26);
    transition: all .3s ease-in;
    min-width: 60%;
    min-height: 150px;
}

.midText {
    width: 100%;
    display: flex;
}


/* bt save bio api v */

.btTXT {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    width: 40px;
    height: 180px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 1px rgb(0, 102, 255);
    border: none;
    background: rgb(0, 102, 255);
    animation-name: animback;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.btTXT:hover {
    animation-name: anim;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes anim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

@keyframes animback {
    from {
        transform: scale(1.05);
    }
    to {
        transform: scale(1);
    }
}

.Salvarbio {
    background: rgba(0, 0, 0, 0);
    text-align: center;
    justify-content: center;
}


/* bt save bio api ^ */

.MidButtonText {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.TxtAreaUser {
    min-width: 60%;
    min-height: 150px;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    resize: none;
    margin-bottom: 10px;
    margin-top: 10px;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.26);
    background: rgba(255, 255, 255, 0);
    color: aliceblue;
    font-size: 15px;
    white-space: pre-line;
}

.emblemas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
    border-radius: 19px;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.26);
    transition: all .3s ease-in;
}


/* SISTEMA DE POST ---------------------------------------------------------------------------------------------------------*/

.posts {
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

.readyPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 19px;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.26);
    background: rgba(255, 255, 255, 0);
    margin-top: 1%;
    margin-bottom: 5%;
}

.userInfoPost {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    ;
}

.userInfoPost img {
    margin-right: 5px;
    left: 3px;
}

.bt_react {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29px;
    height: 30px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    margin-right: 5px;
    cursor: pointer;
}

.h3_post {
    justify-content: center;
    background: aliceblue;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    color: rgb(92, 92, 92);
    text-indent: 20px;
    height: 18px;
}

.Ppost {
    height: 100%;
    width: 90%;
    background: aliceblue;
    border-radius: 8px;
    color: rgb(92, 92, 92);
    padding: 15px;
    margin-right: 15px;
    margin-left: 15px;
    white-space: pre-line;
}

.ReactPost {
    height: 100%;
    width: 100%;
    display: flex;
    margin-right: 20px;
    justify-content: end;
}

.reactions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: aliceblue;
    font-size: 15px;
}

.iconPost {
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 20px;
    margin-bottom: 10px;
}

.img_icon {
    width: 30px;
}